{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Info</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>{{ data.title }}</h1>
        <table>
            {% for key, value in data.items %}
                {% if key != 'title' %}
                    <tr>
                        <th>{{ key|capfirst }}</th>
                        <td>{{ value }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</body>
</html>